/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
/**
 * SETTINGS
 * Global...............Globally-available variables and config.
 */
/** 
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 */
body {
  background-color: #EBEBEB;
}
a {
  color: #00B7FF;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
  width: 100%;
}
.wrapper > .header {
  min-height: 0;
}
/**
 * BASE
 * Headings.............H1–H6 styles.
 */
h2 {
  font-weight: 400;
}
/**
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 */
.header {
  flex-basis: 100%;
  z-index: 10;
}
/**
 * COMPONENTS OVERRIDES
 */
.navbar {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.btn,
.input-group-btn .btn {
  padding: 7px;
}
/**/
.footer {
  flex-basis: 100%;
}
aside {
  padding-top: 2%;
}
.main {
  text-align: left;
  flex-basis: 60%;
  padding-top: 2%;
}
.aside-1 {
  flex-basis: 20%;
  background: #FFF;
}
.aside-2 {
  flex-basis: 20%;
  background: #FFF;
}
@media all {
  .aside {
    flex: 1 auto;
  }
}
@media all {
  .main {
    flex: 5 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
.main-raised {
  background: #FFF;
}
.main-padded {
  margin-top: 1%;
  padding: 1%;
}
.navbar2 {
  background-color: #582A72;
  -webkit-box-shadow: 0px 5px 5px -2px #755a75;
  -moz-box-shadow: 0px 5px 5px -2px #755a75;
  box-shadow: 0px 5px 5px -2px #755a75;
}
.user-profile-picture {
  background-image: url(../images/user.jpg);
}
.user-profile {
  background-size: 32px 32px;
  border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 10px;
  margin-right: 10px;
}
.box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}
