/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */
 
/**
 * SETTINGS
 * Global...............Globally-available variables and config.
 */
@main-background-grey: #EBEBEB;
@main-links-blue: #00B7FF;

@white: #FFF;

/** 
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 */
body {
  background-color: @main-background-grey;
}

a {
  color: @main-links-blue;
}

/**
 * BASE
 * Headings.............H1–H6 styles.
 */
h2 {
  font-weight: 400;
}

/**
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 */
.main-raised {
  background: @white;
}

.main-padded {
  margin-top: 1%;
  padding: 1%;
} 

.navbar2 {
  background-color: #582A72;
  -webkit-box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
  -moz-box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
  box-shadow: 0px 5px 5px -2px rgba(117,90,117,1);
}

.user-profile-picture {
  background-image: url(../images/user.jpg);
}

.user-profile {
  background-size:32px 32px;
  border-radius:50%;
  display:block;
  height:32px;
  width:32px;
  margin-top: 10px;
  margin-right: 10px;
}

.box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

