<div class="box container main-raised main-padded">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
           <div class="col-xs-8 col-sm-6">
               Today
           </div>
           <div class="col-xs-4 col-sm-6">
               Popular | Newest
           </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="text" ng-model="city" class="form-control" />
            </div>
        <a href="#/forecast" class="btn btn-raised btn-primary">Get Forecast</a>
        </div>
    </div>
</div>
<div class="box container main-raised main-padded">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
           <div class="col-xs-8 col-sm-6">
               Today
           </div>
           <div class="col-xs-4 col-sm-6">
               Popular | Newest
           </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="text" ng-model="city" class="form-control" />
            </div>
        <a href="#/forecast" class="btn btn-raised btn-primary">Get Forecast</a>
        </div>
    </div>
</div>